#hero {
	width:100%;
	height: auto;
}
.header {
	height: 120px;
	width: 100%;
	background-color: #1f1f1f;
	opacity: 0.9;
	position: absolute;
	z-index: 20;
}

#topic {
	font-size: 72px;
	font-family: z;
	width: auto;
}

.container {
	padding-top: 20px;
}
#factory {
	margin-top: 10px;
	height:auto;
	width:100%;
}
figure {
	display: block;
	position: relative;
}
figcaption {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 40%;
	opacity: 1;
	font-size: 72px;
	color: white;
	font-family: z;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}