#hero {
	width:100%;
	height: auto;
}
.header {
	height: 120px;
	width: 100%;
	background-color: #1f1f1f;
	opacity: 0.9;
	position: absolute;
	z-index: 20;
}

.topic {
	font-size: 40px;
	font-family: z;
	width: auto;
	
}
.fullWidth{
	background-color: #1f1f1f;
	color:white;
}
.margin {
 	margin-bottom: 3%;
}
ol li {
	display: inline;
}

.relative {
	position: relative;
}
.commitment {
	color: #fff;

}
#factory {
	height:100%;
	width:100%;
}

.big{
	font-size: 24px;
	font-family: z ;
}
.small{
	font-style: italic;
	line-height: 20px;

}
.hover:hover{
	box-shadow: 0px 0px 20px black;
}	
figure {
	display: inline-block;
	position: relative;
}
figcaption {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 40%;
	opacity: 1;
	font-size: 72px;
	color: white;
	font-family: z;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}