.container_fluid{
	padding-left: 0;
	padding-right: 0;
	margin-right: auto;
	margin-left: auto;
}
body{

}
.header{
	top:0;
	z-index: 100;
	font-family: a;
	color: white;
	height: 120px;
	width: 100%;
	opacity: 0.97;
	background-color: #1F1F1F;
	padding-top:0.5%;
	font-size: 13px;
	box-shadow: 0 0 30px black;
}
#bc{
  font-size: 70px;
  font-family: z;
}
.z{
	font-family:z;
	font-size:15px;
	color: white;
}
.lg{
	font-family: z;
	color: white;
	font-size: 1em;
}
.footer{
	background-color: #1F1F1F;
	color: white;
	padding:1%;
	text-align: center;
	font-family: z;
	width: 100%;
}
ul li{
	text-decoration: none;
	display: inline;
}
ul{
	padding-left: 0;
}
.CollectionTab{
	font-family: z;
	font-size: 30px;
	text-align: center;
	margin-bottom: 3%;
}
.LookingTab{
	font-family: z;
	font-size: 40px;
	text-align: center;
	margin-bottom: 3%;	
}
.hover:hover{
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear; /* Safari and Chrome */
	box-shadow: 0px 0px 5px black;
}
.hover{
	  transition: all 0.3s ease;
}
.upperBar{
	padding-bottom: 6%;
}
.middleBar{
	padding-top:3%;
	padding-bottom: 3%;
}
.clear {
	padding: 0 !important;
	margin: 0 !important;
}
.parent{
	position: relative;
}

.img-caption{
	position: absolute;
	top: 30%;
	right: 7%;
	font-size: 30px;
	color: black;
	}
@media(max-width:760px){
.img-caption{
display:none;
 }
 .lg{
 	display: none;
 }
}
.button-fac{
	position: absolute;
	top: 50%;
	padding: 1%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	background: gray;
	color: white;
	right: 7%;
	font-size: 0.5em;
}