.prep-caption{
	position: absolute;
	z-index: 10;
	bottom: 20%;
	font-family: z;
	background-color: black;
	color: white;
	width: 80%;
	left:3%;
	padding: 2px 2px 2px 10px;
}

.fade {
	opacity: 0.8;
	transition:0.5s;
}

.fade:hover {
	opacity: 1;
	transition:0.5s;
}
#hero {
	opacity: 0.85;
	width: 100%;
	height: 650px;
}
.custom {
	position: absolute;
	top: 30%;
	left: 5%;
	opacity: 1;
	font-size: 72px;
	color: black;
	font-family: z;
	font-style: italic;
}
.img-info {
	position: absolute; 
	top:50%;
	margin-left: 20%;
	margin-right: 10%;
	font-family: z;
	
}
@media(max-width:760px){
.custom{
top:55%;
font-size: 30px;
height: 30px;
 }
}

@media(max-width:1000px){
.img-info{
	font-size: 12px;
 }
}

@media(max-width:850px){
.img-info{
	display: none;
 }
}